{% extends "base_generic.html" %}

{% block title %}<title>Список Ситхов</title>{% endblock %}

{% block content %}
  <h1>Список Ситхов</h1>
    {% if sith_list %}
    <table>
        <tr>
            <th>Имя</th>
            <th>Количество Рук Тени</th>
        </tr>

        {% for sith in sith_list %}
        <p>
            <tr>
                <td><a href="{% url 'recruit-list' sith.id %}">{{ sith.name }}</a> ({{ sith.planet }})</td>
                <td align="center">{{ sith.shadow_hand_count }}</td>
            </tr>
        </p>
        {% endfor %}
    </table>

    {% else %}
    <p>There are no siths registered.</p>
    {% endif %}

    <br>
        <a href="{% url 'home' %}">Вернуться на главную</a>

{% endblock %}l>