{% extends "base_generic.html" %}

{% block content %}
  <h1>Список Ситхов</h1>
    {% if sith_list %}
    <table>
        <tr>
            <td>Имя</td> <td>Количество Рук Тени</td>
        </tr>

        {% for sith in sith_list %}
        <p>
            <tr>
                <td><a href="{% url 'recruit-list' sith.id %}">{{ sith.name }}</a> ({{ sith.planet }})</td>
                <th>    {{ sith.shadow_hand_count }}</th>
            </tr>
        </p>
        {% endfor %}
    </table>

    {% else %}
    <p>There are no siths registered.</p>
    {% endif %}

    <br>
        <a href="{% url 'home' %}">Вернуться на главную</a>

{% endblock %}l>