{% extends "base_generic.html" %}

{% block content %}
  <h1>Рекруты на вашей планете ({{ sith_instance.planet }})</h1>
  <p>Рук тени у вас: {{ hands_count }} </p>
    <form action="{% url 'recruit-list' sith_instance.id %}" method="post">
    {% csrf_token %}
    {% if recruits %}
        <ul>
        {% for recruit in recruits %}

        <li>
            <input type="radio" id="recruit" name="recruit" value="{{ recruit }}">
            <p>Name: {{ recruit.name }} (id: {{ recruit.id }})</p>
            <p>Age: {{ recruit.age }}</p>
            <p>E-mail: {{ recruit.email }}</p>
            <ul>
                {% for qa in recruit.get_questions_answers%}
                    <li>{{ qa.0 }}: {{ qa.1|upper }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
        </ul>
        <input type="submit" value="Submit">
    </form>
    <br>
    <br>
    <a href="{% url 'home' %}">Вернуться на главную</a>
    {% else %}
        <p>There are no recruits registered.</p>
        <br>
        <a href="{% url 'home' %}">Вернуться на главную</a>
    {% endif %}
{% endblock %}l>